doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Renjith - Software Developer and Tech Entrepreneur
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="app.sass")
  body
    div.profile
      img(src="assets/photo.jpg", alt="Renjith's photo")
      h1 Renjith
      h2 Software Developer
      p
        | I'm a Software Developer and Tech Entrepreneur, co-founder and leader of 
        a(href="https://vaaip.com") Vaaip
        | . I write code for Web, Mobile and Desktop.
    script(src="app.js")