doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="theme-color" content="#f8bd46")
    title Renjith - Software Developer and Tech Entrepreneur
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="app.sass")
  body
    div.profile
      img(src="assets/photo.jpg", alt="Renjith's photo")
      h1 Renjith
      h2 Software Developer
      p
        | I'm a Software Developer and Tech Entrepreneur, co-founder and leader of 
        a(href="https://vaaip.com") Vaaip
        | . I write code for Web, Mobile and Desktop.

      ul.btn-group
        li
          a(href="https://github.com/renjithspace")
            i.fab.fa-github-alt.fa-sm
        li
          a(href="https://medium.com/@renjithspace")
            i.fab.fa-medium-m.fa-sm
        li
          a(href="https://twitter.com/renjithspace")
            i.fab.fa-twitter
        li
          a(href="skype:renjith.v.k?chat")
            i.fab.fa-skype
        li
          a(href="mailto:renjithrajeevvk@gmail.com")
            i.fas.fa-envelope
        li
          a(href="https://www.youtube.com/channel/UC3Gi93tKlI80WYVauMatlzQ")
            i.fab.fa-youtube.fa-sm
        li
          a(href="./assets/resume.pdf")
            i.fab.fa-google-drive.fa-sm